include CONTRIBUTING.rst
include river_core/requirements.txt
include LICENSE.*
include README.rst
include CHANGELOG.rst

recursive-include examples *
recursive-include river_core/templates *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
