include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include river_core/microtesk_plugin *
recursive-include river_core/aapg_plugin *
recursive-include river_core/riscv_dv_plugin *
recursive-include river_core/compile_plugin *


recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
