pip
wheel==0.33.6
coverage==4.5.4
Sphinx==3.0.4
twine==1.14.0
pyyaml==5.2
click==7.0


ruamel.yaml>=0.16.0
pytest
pytest-runner
pytest-xdist
pytest-reportlog
pytest-html
colorlog
configparser
repomanager
ansi2html
envyaml
aapg
